<tr id="topic_tr_<%=topic.id%>">
	<td width="34px" align='center'><%=image_tag "sticky.gif" if topic.sticky%></td>
	<td style='text-align:left;padding-left:5px'>
  <span id="topic_title_<%=topic.id%>" class="<%=get_topic_title_css(topic)%>">
    <%search ||=false%>
    <%= link_to (search ? highlight_search_words(html_encode(topic.title), @words) : html_encode(topic.title)), topic_path(topic) %>
    <%if topic.with_me? %>
        <sup class="with_me"><%='with me!'[:with_me]%></sup>
    <%end%>
  </span>
  <%if not current_user.nil? and topic.monitored?%>
  <sup id='monitor_<%=topic.id%>'>
  <%=
			link_to_remote(
  					image_tag('monitoring_16_on.png',:alt =>  "Monitoring. Click to stop. "[:monitoring]),
						:url=>{:controller=>'topics', :action=>'stop_monitoring', :id=>topic},
						:html=>{:title =>  "Monitoring. Click to stop. "[:monitoring]},
						:success=>"$('monitor_#{topic.id}').remove(); $('topic_tr_#{topic.id}').getElementsByClassName('topic_monitored')[0].removeClassName('topic_monitored')",
						:loading=>"show_loader('monitor_#{topic.id}', 'snake')"
				)
	%>
  </sup>
  <%end%>
  <%if show_forum%>
    <div class='forum_in_topic'>
      <%=link_to topic.forum.title, forum_path(topic.forum)%>
    </div>
  <%end%>
  </td>
	<td class="counters"><%if topic.posts_count - 1 > 0%><%=topic.posts_count - 1%><%else%><%="No replies"[:no_replies]%><%end%></td>
  	<td class="views"><%=topic.views_count%></td>
	<td class="lastpost">
	 <div class='last_post_div_small'>
	 	<% post = topic.last_post%>
	    <%=time_ago_in_words(post.updated_at)%> <%="ago"[:ago]%> <br/> <%="by"[:by]%> <b><%=post.user.login%></b>
	    (<%=show_post_link post, "View"[:view]%>)
	 </div>
	 <%= hover_for("topic_tr_#{topic.id}", :template=>'topic_hover', :locals=>{:topic => topic}) if is_admin%>
	</td>
</tr>