<%content_for(:title, "Posts from %s"[:posts_from] % [@ip])%>

<%content_for :page_header do%>
  <h1><%="Posts from %s"[:posts_from] % [@ip]%></h1>
  <%=link_to "Black list"[:black_list], {:controller=>"moderate", :action=>"ips"}%>
<%end%>

<div class='clear' style='height:30px;'></div>
<%= will_paginate(@posts) || "<div class='clear' style='height:10px;'></div>" %>  
<table id="posts" cellpadding="0" cellspacing="0" style="width:100%" class="posts">
<%@posts.each do |post|%>
  	<%= render :partial=>'topics/post', :locals=>{:post=>post, :show_topics=>true} %>
<%end%>
</table>
<%= will_paginate @posts%>