<p>Dear <%= @login %>, Welcome to <%=@app_name%></p>
<p>You got this message because your or somebody entered your email during registration at the <%= @url%></p>
<p>To accept registration go to <a href="<%= @accept_url%>"><%= @accept_url%></a></p>
<p>To reject registration go to <a href="<%= @reject_url%>"><%= @reject_url%></a>
<p>
--<br/>
<%=@app_name%> team.
</p>