<%if current_user %>
  <ul>
    <%files.each do |file|%>
      <li><%=link_to file.file_name, file_path(:id=>file.id, :name=>file.file_name)%>
    <%end%>
  </ul>
<%elsif files.length > 0%>
  <div class='attachments_hidden'>
    <%=link_to "Sign in"[:sign_in], :controller=>'login', :to=>url_for%> <%="or"[:or]%> <%=link_to "Sign up"[:sign_up], signup_path%>
    <%=" to see attachments."[:to_see_attachments]%>
  </div>
<%end%>