<%=error_messages_for 'posted'%>
<% form_remote_tag(:url => quick_reply_topic_path(topic, current_page), :loading=>"$('reply_topic_loader', 'reply_topic_controls').invoke('toggle');") do%>
  <%=forulio_editor 'posted', 'content', {:id=>"reply_editor", :class=>'post_editor'} %>
  <input type="hidden" name="page" value="<%=current_page%>">
  
  <%=link_to "Attach file"[:attach_file], {}, :style=>"font-size:0.8em;", :onclick=>"$('q_file').toggle();return false;"%>
  	<div class="clear"></div>
  	<img id="reply_topic_loader" src="/images/loader2.gif" style="display:none;float:right;"/>
    <div id="reply_topic_controls" style="float:right">
      <%= submit_tag("Reply"[:reply]) %> <%="or"[:or]%> 
      <a href="#" onclick="$('reply_div_topic').hide();return false;"><%="Cancel"[:cancel]%></a>
    </div>
<%end%>
<div id='uploaded_files' >
  <%uploaded = session[:uploaded_files][0]!=nil ? session[:uploaded_files][0] : []%>
  <%=render :partial=>"uploaded_files", :locals=>{:files=>uploaded, :post_id=>nil} %>
</div>
<div id='q_file' style="display:none;">
      <%=render :partial=>"upload_file_form", :locals=>{:post_id=>nil} 	%>
</div>


