<%content_for(:title, "New topic"[:new_topic])%>

<%content_for :page_header do%>
  <h1 class='forum_title'><%="New topic"[:new_topic]%> <%="in"[:in]%> <%=link_to html_encode(@forum.title), forum_path(@forum)%></h1>
<%end%>

<%=error_messages_for 'topic'%>
<div>
  <% form_remote_tag(:url =>  new_topic_path(@forum), 
			:loading=>"show_loader('preview_topic', 'loader1');") do%>
  <%=text_field 'topic', 'title', :class=>'new_topic_title'%>
  <%if is_admin or is_moderator%>
    <%=check_box 'topic', 'sticky', :checked_value => "1", :unchecked_value => "0"%> <label for="topic_sticky"><%="Sticky"[:sticky]%></label>
  <%end%>
  <%=forulio_editor 'post', 'content', {:id=>"post_editor", :class=>'post_editor'} %>
  <div class="clear"></div>
  <div id="new_topic_controls" style="float:right">
    <input type="hidden" id="topic_action" name="topic_action">
    <%= submit_tag('Save'[:save], :name=>'save', :onclick=>"$('topic_action').value='save';") %> or 
    <%= submit_tag('Preview'[:preview], :name=>'preview', :onclick=>"$('topic_action').value='preview';") %> 
  </div>
<%end%>
</div>
<div class="clear"></div>
<div id="preview_topic">
 
</div>