<%content_for(:title, "New posts"[:new_posts])%>
<%content_for :right do%>
     <%=render :partial=>"partials/online_users"%>    
<%end%>
<%content_for :page_header do%>
<h1 class='forum_title'><%="New posts"[:new_posts]%></h1>
<% new_types = [
	['since_last_login', "since last visit"[:since_last_visit], (current_user and not current_user.last_before_now_login.nil?)], 
	['with_me', "with me"[:with_me], logged?], 
	['all_unread', "all unread"[:all_unread], logged?],
	['session', "session"[:session], logged?],
	['monitored', "monitored"[:monitored], logged?],
	['all', "all"[:all], true]] %>

<%params[:new_type] ||= (session[:new_type] || 'all')%>
<div class='new_types'>
    <%new_types.each do |t|%>
	  <%if t[0] == params[:new_type]%>
	  		<span class='active'><%=link_to t[1], new_posts_path(t[0]) %></span>
      <%elsif t[2]%>
	  		<span><%=link_to t[1], new_posts_path(t[0]) %></span>        
      <%end%>
    <%end%>
</div>
<%end%>

<% content_for("right") do %>
  
<%end%>

<%= will_paginate(@topics) || "<div class='clear' style='height:10px;'></div>"%>
<table id="topics" cellpadding="0" cellspacing="0" style="width:100%" class="forulio">
  <tr>
      <th>
         
      </th>
      <th>
         <%="Topic"[:topic]%> 
      </th>
      <th>
         <%="Replies"[:replies]%> 
      </th>
      <th>
         <%="Views"[:views]%> 
      </th>
      <th>
         <%="Last post"[:last_post]%> 
      </th>
  </tr>
<%@topics.each do |topic|%>
	<%= render :partial=>'forums/topic', :locals=>{:topic=>topic, :show_forum=>true} %>
<%end%>
</table>
<%= will_paginate @topics %>
