<%content_for(:title, @topic.title + (params[:page] ? " - %s %s" % ["Page"[:page], params[:page]] : ""))%>

<%content_for :page_header do%>
  <table width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td align="left" class='topic_title'><h1  id="topic_title"><%=image_tag ("sticky.gif") if @topic.sticky%><%=html_encode(@topic.title)%></h1></td>
      <td align="right" style="width:32px;" class='topic_title'><%=render :partial=>'topics/monitoring', :locals=>{:topic=>@topic} %></td>
    </tr>
  </table>
  <p class="path">
    <%=link_to Configuration.site_name, :controller=>'home'%>&rarr;
    <%=link_to html_encode(@forum.category.title), category_path(@forum.category)%>&rarr;
    <%=link_to html_encode(@forum.title), forum_path(@forum)%>&rarr;
    <span class="last_path_title"><%=html_encode(@topic.title)%></span>
  </p>
<%end%>

<%if can_edit_topic(@topic)%>
<script type="text/javascript">
	new Ajax.InPlaceEditor('topic_title', 
	"<%= url_for(:controller=>'topics', :action=>'update_title', :id=>@topic)%>", 
	merge_hash(topic_inplace_option, {loadTextURL:"<%= url_for(:controller=>'topics', :action=>'load_title', :id=>@topic)%>"}));
</script>
<%end%>


<%=render :partial=>'partials/tags', :locals=>{:tags=>@tags}%>
<%if @tags and @tags.length > 0%>
<br/>
<small class="hint"><%="Click on tag to remove it from topic's filter"[:click_to_remove_from_topic_filter]%></small><br/>
<%end%>
<div style="float:right"><%=(link_to('First new post'[:first_new_post], @first_unread_link)) unless @first_unread_link.nil?%></div>
<%= will_paginate(@posts) || "<div class='clear' style='height:10px;'></div>" %>
<%=link_to_function(show_button('Reply'[:reply]), "Element.scrollTo('reply_topic');$('reply_div_topic').show();$('reply_editor').value = '';") if can_reply_topic(@topic)%>
<table id="posts" cellpadding="0" cellspacing="0" style="width:100%" class="posts">
<%@posts.each do |post|%>
	<%= render :partial=>'topics/post', :locals=>{:post=>post, :show_topics=>false} %>
<%end%>
</table>
<%= will_paginate @posts %>
<div style="width:100%">
  <div style="text-align:right;padding-top:7px; padding-bottom : 4px;">
   <img src='/images/loader1.gif' id='loader_topic' style="display:none;" />&nbsp;
   <%=link_to_function show_button('Reply'[:reply]), "$('reply_div_topic').show();$('reply_editor').value = '';", :id=>"reply_topic" if can_reply_topic(@topic)%>
  </div>
</div>
<div id="quick_posted_topic"><%=render :partial=>"partials/login_or_register"%></div>
<div id="reply_div_topic" style="display:none">
	<%=render :partial => 'topics/quick_reply_topic', :locals=>{:posted=>Post.new, :topic=>@topic, :current_page=>(params[:page] || 1)}%>
</div>

<% content_for :right do %>
	<%=render :partial=>"partials/login_or_register"%>

  <br/>
  <%if @topic_tags.length > 0%>
	<div class="outerBox" >
		<div class="innerBox" >
			<b><%="Topic tags:"[:related_tags]%></b><br/>
      <small class="hint"><%="Click on tag to add it to topic's filter"[:click_to_add_to_topic_filter]%></small><br/>
			<%=render :partial=>"partials/tags", :locals=>{:tags=>@topic_tags}%>    
		</div>
	</div>
	<%end%>

  
  <img id="loader_close" src="/images/loader1.gif" style="display:none"/>
  <%=link_to_remote "Close topic"[:close_topic], :url=>{:controller=>'topics', :action=>'close', :id=>@topic}, :html=>{:id=>'close_topic'},
				:loading=>"$('loader_close', 'close_topic').invoke('toggle');" if can_edit_topic(@topic)	%>
  <br/>
  <img id="loader_sticky" src="/images/loader1.gif" style="display:none"/>
	<%=link_to_remote @topic.sticky ? "Unstick"[:remove_sticky] : "Stick"[:add_sticky], :url=>{:controller=>'topics', :action=>'toggle_sticky', :id=>@topic}, :html=>{:id=>'sticky_topic'},
				:before=>"Topic.saveStickyTranslations('%s', '%s')" % ["Unstick"[:remove_sticky], "Stick"[:add_sticky]],
				:loading=>"$('loader_sticky', 'sticky_topic').invoke('toggle');",
				:complete=>"$('loader_sticky', 'sticky_topic').invoke('toggle');" if can_edit_topic(@topic) %>
<%end%>



