<%if show_category or is_admin%>
<tr id="cat_tr_<%=category.id%>" class='category_tr'  >
  <td></td>
  <td colspan="2" class="content">
		<div class='category_title'>
			<div id="cat_title_<%=category.id%>" ><%= html_encode category.title%></div>
		</div>
		
		<%if is_admin%>
			<%= hover_for("cat_tr_#{category.id}", :template=>'category_hover', :locals=>{:category => category}) %>
	  		<script type="text/javascript">
	  			new Ajax.InPlaceEditor('cat_title_<%=category.id%>', 
	  			"<%= url_for(:controller=>'admin/category', :action=>'update_title', :id=>category)%>", 
	        	merge_hash(category_inplace_option, {loadTextURL:"<%= url_for(:controller=>'admin/category', :action=>'load_title', :id=>category)%>"}));</script>
			
	    <%end%>
	</td>
</tr>
<%end%>
<% category.forums_with_unread_id(current_user).each do |forum|%>
	<%=render :partial=>'home/forum', :locals=>{:forum=>forum}%>
<%end%>
	  
										
