<tr id="forum_tr_<%=forum.id%>" class='forum_tr' height="100px">
	<td>
		
	</td>
	<td>
	  <div class='forum'>
  		<div>
        <%='<b>' if forum.unread?(current_user) %>
  		  <%= link_to  html_encode(forum.title), forum_path(forum), {:class=>"forum_link"} %>
        <%='</b>' if forum.unread?(current_user) %>
      </div>
      
      	<%= hover_for("forum_tr_#{forum.id}", :template=>'forum_hover', :locals=>{:forum => forum}) if is_admin %>
		<div style="font-size:0.7em">
        <%if forum.topics_count > 0 %>
          <%=pluralize(forum.posts_count, :post)%> <%="in"[:in]%> <%=pluralize(forum.topics_count, :topic)%>
        <%else%>
           <%="No topics yet"[:no_topics_yet]%>
        <%end%>
        </div>
	  	<div style="font-size:0.9em;padding:10px 0 10px; 0"><%= html_encode(forum.description)%></div>
    </div>
	</td>
	<td class='last_post_td'>
    
    <div class='last_post_div'>
      <% post = forum.last_post
  			 unless post.nil?
  		%>
          <%=	time_ago_in_words(post.updated_at)%> <%="ago"[:ago]%> <br/> <%="by"[:by]%> <b><%=post.user.login%></b> <br/>
          <%="to"[:to]%> <%=link_to post.topic.title, show_post_path(post)%>
      
      <%else%><%="No posts yet"[:no_posts_yet]%><%end%>
    </div>
	</td>
</tr>
										
