<%content_for(:title, "Manage tags"[:manage_tags])%>

<%content_for :page_header do%>
  <h1><%="Manage tags"[:manage_tags]%></h1>
<%end%>
<%= will_paginate(@tags) || "<div class='clear' style='height:10px;'></div>" %>
<table width="100%" id='manage_tags' cellpadding="0" cellspacing="0" >
  <tr>
    <th align='left'><%="Title"[:tag_title]%></th>
    <th width='100'><%="Status"[:status]%></th>
    <th width='150'><%="Created at"[:created_at]%></th>
    <th width='150'></th>
  </tr>
<%@tags.each do |tag|%>
      <%=render :partial=>'tags/tag', :locals=>{:tag=>tag}%>
 <%end%>
 </table>
 <%= will_paginate(@tags) %>