<h4><%="New category"[:new_category]%></h4>
<%=error_messages_for 'category'%>
<% form_remote_tag(:url => { :action => "create"}, :loading=>"$('admin_tasks_loader').show();", :complete=>"$('admin_tasks_loader').hide();") do%>
	<div><%="Title"[:title]%> <%= text_field 'category', 'title', { :class => 'new_cat_text'}%></div>
		<%= submit_tag("Save"[:save]) %>
		<a href="javascript:void(0)" onclick="Category.cancelCreate();return false;"><%="Cancel"[:cancel]%></a>

	<div class='clear'></div>
<%end%>



