<%=error_messages_for "user" %>
<%if flash[:notice2]!=nil %>
<div class="notice">
    <%=flash[:notice2] %>
</div>
<%flash[:notice2]=nil %>
<%end %>
<% form_remote_tag(:url => { :action => "change_password"}, :loading=>"show_loader('change_password_controls', 'loader2');") do %>
<h3><%="Change password"[:change_password]%></h3>
<table width='100%'>
    <tr>
        <td>
            <%="New password"[:new_password]%>
        </td>
        <td>
            <%= password_field "user", "new_password",  :class=>"text", :size => "20" %>
        </td>
    </tr>
    <tr>
        <td>
            <%="Retype new password"[:retype_new_password]%>
        </td>
        <td>
            <%= password_field "user", "password_confirmation",  :class=>"text", :size => "20" %>
        </td>
    </tr>
    <tr>
        <th>
        </th>
        <td align='left'>
            <div id='change_password_controls'>
                <%=submit_tag "Change my password"[:change_my_password] %>
            </div>
        </td>
    </tr>
</table>
<%end %>
