<h4><%='Manage roles'[:manage_roles]%></h4>
<%if flash[:notice_roles] %>
<div class='notice'>
    <%=flash[:notice_roles] %>
</div>
<%end %>
<ul style='list-style-type:none;'>
    <%if is_admin %>
      <li>
          <span id='new_role_box'>&nbsp;&nbsp;</span>
          <a href="/new_role" onclick="Role.new_role(<%=user.id%>);return false;"><%='New role'[:new_role]%></a>
      </li>
      <%end %>
      <%roles.each do |role| %>
      <%if not user.roles.include?(role) %>
      <li>
          <input type='checkbox' id='role_<%=role.id%>' value='1' id='role_<%=role.id%>' onclick='Role.assign(<%=role.id%>, <%=user.id%>)'>
          <span id='role_name_<%=role.id%>'><%=role.title %></span>
          <%if role.title != 'admin' %>
            <img src="/images/delete.png" width="16px" height="16px" style="cursor:pointer" onclick="Role.remove(this, <%=role.id%>, &quot;<%='Sure?'[:confirm_delete_role]%>&quot;)"/>
            <script type="text/javascript">
    	  		    new Ajax.InPlaceEditor('role_name_<%=role.id%>', "<%= url_for(:controller=>'user', :action=>'update_role_title', :id=>role)%>", default_inplace_options);
             </script>
          <%end%>
          
      </li>
      <%end %>
    <%end %>
</ul>
<div class='separator_line'>
</div>
<ul style='list-style-type:none;'>
    <%admin_on_my_profile = is_admin && user.id == current_user.id%>
    <%user.roles.each do |role| %>
    <li>
        <% disabled = (role.title == 'admin' && admin_on_my_profile) ? 'disabled' : '' %>
        <input type='checkbox' id='role_<%=role.id%>' <%=disabled%> onclick="Role.unassign(<%=role.id%>, <%=user.id%>)" checked='checked' value='1' id='role_<%=role.id%>'>          
        <span id='role_name_<%=role.id%>'><%=role.title %></span>
        <%if role.title != 'admin' %>
          <script type="text/javascript">
  	  		  new Ajax.InPlaceEditor('role_name_<%=role.id%>', "<%= url_for(:controller=>'user', :action=>'update_role_title', :id=>role)%>", default_inplace_options);
          </script>
        <%end%>
    </li>
    <%end %>
</ul>
