<%content_for(:title, "Users"[:users]) %>
<%content_for :right do%>
     <%=render :partial=>"partials/online_users"%>    
	 <%if is_admin %>
	    <div><%=link_to "Send message to all"[:send_message_to_all], {:controller=>'messages', :action=>"send_all"}%></div>
     <%end%>
<%end%>
<%content_for :page_header do%>
 <h1><%="Users list"[:users_list]%></h1>
<%end%>

<%= will_paginate(@users) || "<div class='clear' style='height:10px;'></div>" %>
<table width="100%" border="0" cellpadding="4" cellspacing="0" class="users">
	<tr>
		<th align="left"><%=link_to "Name"[:name], order_path_for('login') %> </th>
		<th><%=link_to "Registration"[:registration], order_path_for('created_at') %></th>
		<th><%=link_to "Posted"[:posted], order_path_for('posts_count') %></th>
		<th><%=link_to "Last login"[:last_login], order_path_for('logged_in_at') %></th>
	<tr>
	<%@users.each do |user|%>
	<tr>
		<td><%=link_to user.login, profile_path(user) %><br/>
			<span class="user_status_small"><%=get_user_status(user)%></span> <%if logged?%><small><%=link_to image_tag('im.gif', :title=>"send message"[:send_message]), send_message_path(user.id)%></small><%end%>
		</td>
		<td align="center"><%=formatted_time(user.created_at, false)%></td>
		<td align="center"><%=user.posts_count%></td>
		<td align="center"><%=formatted_time(user.logged_in_at, true) || "Never"[:never] %></td>
	</tr>
	<%end%>
</table>