<%content_for(:title, "Sign in"[:sign_in]) %>

<%content_for :page_header do%>
  <h1><%="Sign in"[:sign_in]%></h1>
<%end%>
<%=error_messages_for "user"%>
<div class='signup_form'>
	<% form_for '@user', :url => {:to=>params[:to], :action => "login"}, :html => {:id => 'signupForm'} do%>
		<table width='40%'>
		  <tr>
				<th>
					<%="Email"[:email]%>:
				</th>
				<td>
					<%=text_field "user", "email",:size => "25"%>
				</td>
			</tr>    
			<tr>
				<th>
					<%="Password"[:password]%>:
				</th>
				<td>
					<%= password_field "user", "password",  :class=>"text", :size => "25"%>
				</td>
			</tr>
      <%if @send_verification_to%>
     	<tr>
				<th>
					
				</th>
				<td id="send_verification_td" nowrap style="color:#00F;">
					<%=link_to_remote "Send verification email"[:send_verification_email], :url=>{:controller=>'user', :action=>'send_verification', :id=>@send_verification_to},	
								:update=>'send_verification_td', :loading=>'show_loader("send_verification_td", "loader1")' %>
				</td>
			</tr>
      <%else%>
			<tr>
			  <th>
			  </th>
				<th nowrap>
    			  <p>
		            <%= check_box_tag "save_login" %> <label for="save_login"><%= "Remember me"[:remember_me]%></label>&nbsp;
					      <%=link_to "Forgot password"[:forgot_password], :action=>'reset_password'%>
		        </p>
				</th>
			</tr>
			<%end%>
			<tr>
			<th>
			</th>
				<td align='left'>
					<%=submit_tag "Sign in"[:sign_in_button]%>
				</td>
			</tr>
		</table>
	<%end%>
</div>
<div class='clear'></div>
