<%content_for(:title, "Edit "[:edit_] + get_username_or_me(@user_profile) + " profile"[:_profile]) %>
<%content_for :page_header do%>
  <%online = User.online?(@user.id)%>
  <span class="online_status <%=online ? 'online' : 'offline' %>" ><%=online ? 'Online'[:status_online] : 'Offline'[:status_offline]%></span>
  <h1><%="Profile"[:profile]%></h1>
<%end%>
<div style="min-width:730px">


<%=error_messages_for "user_profile"%>

<div class='signup_form'>
	<% form_for '@user_profile', :url => { :action => "profile"}, :html => {:id => 'profileForm', :style=>"display : inline;"} do%>
		<table cellpadding='0' cellspacing='0'>
			<tr>
				<th><%="About me"[:about_me]%></th>
				<td><%=text_area "user_profile", "info", :rows=>4%></td>
			</tr> 
			<tr>
				<th><%="Bithday"[:birthday]%></th>
				<td><%=date_select("user_profile", "birthday", :start_year=>1930, :end_year=>Date.today().year-10)%></td>
			</tr>   
		     <tr>
				<th><%="Signature"[:signature]%></th>
				<td>
					<%=forulio_editor 'user_profile', 'signature', {:rows=>4, :class=>'post_editor'} %>
				</td>
			</tr>    
			<tr>
				<th><%="Time Zone"[:time_zone]%></th>
				<td><%= time_zone_select 'user_profile', 'time_zone', TimeZone.all %></td>
			</tr>
			<tr>
				<td></td>
				<td style="text-align:left">
					<%=submit_tag "Save"[:save]%>
				</td>
			</tr>
			
		</table>
	<%end%>
</div>

<%a_size = Configuration.avatar_size
	a_spase= a_size / 2 - 16
%>
<div id='upload_image_form'>
		<h3 style="margin:0;padding-bottom:5px;"><%="Select avatar"[:select_avatar]%></h3>
		<div id='uploaded_avatar' style='width:<%=a_size%>px;height:<%=a_size%>px; background-color : <%=Configuration.avatar_bg_color%>;'>
			<%=user_avatar(@user_profile)%>
		</div><br/>
		<% form_tag({:action=>'upload_avatar'}, :multipart => true, :target=>"iiframe" ,:onsubmit=>"show_snake();") do%>
			<%=link_to_function('Change'[:change], "$('upload_div', 'change_link').invoke('toggle');", :id=>'change_link')%>
			<%=link_to_remote('Remove'[:remove], :url=>{:action=>'remove_avatar'}, :loading=>"show_snake()") unless @user_profile.image.nil? %>
			<div id="upload_div" style="display:none">
				<%= file_field 'fs_image', 'uploaded_data', :id => 'fs_image_content',  :size => 25%>
        		<input type='hidden' name='profile_id' value='<%=@user_profile.id%>'/>
				<input type="submit" value="<%="Upload"[:upload]%>" class="btn" />
				<%=link_to_function('Cancel'[:cancel], "$('upload_div', 'change_link').invoke('toggle');") %>
			</div>
		<%end%>
		<iframe id='iiframe' name="iiframe" style="width:1px;height:1px;visibility:hidden;"></iframe>
</div>
<div class="user_status_div" >
	<%="Posted"[:posted]%> <span id="post_count"><%=@user.posts_count%></span> <%="posts"[:posts]%><br/>
	<%="Status"[:status]%> <span id="status_name"><%=get_user_status(@user)%></span>
	<%if is_admin%>
	<script type="text/javascript">
		new Ajax.InPlaceEditor('status_name', 
		"<%= url_for(:controller=>'user', :action=>'update_status', :id=>@user)%>", default_inplace_options);
	</script>
	<%end%>
</div>

</div>
<div class='clear'></div>
  
  <% content_for("right") do %>
  <%if is_admin %>
	<div class="outerBox">
	    <div class="innerBox">
	        <div id='roles_box'>
	            <%=render :partial=>'edit_roles', :locals=>{:roles=>@roles, :user=>@user_profile.user}%>
	        </div>
	    </div>
	</div>
	<br/>
  <%end %>
  <%if current_user.id == @user_profile.user.id%>
    <div class="outerBox">
  	<div class="innerBox">
  	 <div id='change_password_box'> 
       <%=render :partial=>'change_password'%>
     </div>
  	</div>
    </div>
   <%end%> 
  <% end %>
  
<script>
	function show_snake(){
		$('uploaded_avatar').innerHTML = "<img hspace='<%=a_spase%>' vspace='<%=a_spase%>' src='/images/spinner.gif'/>"
	}
	function clear_image_content()
	{
		$('fs_image_content').replace('<%= file_field "fs_image", "uploaded_data", :id => "fs_image_content",  :size => 25%>')
	}
</script>

