<%content_for(:title, "Reset password"[:reset_password]) %>
<%content_for :page_header do%>
  <h1><%="Reset password"[:reset_password]%></h1>
<%end%>


<%=error_messages_for "user"%>
<div class='signup_form'>
	<% form_for '@user', :url => { :action => "reset_password"}, :html => {:id => 'signupForm'} do%>
		<table width='40%'>
		  <tr>
				<th>
					<%="Email"[:email]%>:
				</th>
				<td>
					<%=text_field "user", "email"%>
				</td>
			</tr>    
			<tr>
			<th>
			</th>
				<td align='right'>
					<%=submit_tag "Reset my password"[:reset_my_password]%>
				</td>
			</tr>
		</table>
	<%end%>
</div>
<div class='clear'></div>
