<%content_for(:title, get_username_or_me(@user_profile, true) + " profile"[:_profile]) %>
<%content_for :page_header do%>
 <%online = User.online?(@user.id)%>
 <span class="online_status <%=online ? 'online' : 'offline' %>" ><%=online ? 'Online'[:status_online] : 'Offline'[:status_offline]%></span>
 <h1 ><%=@user_profile.user.login %>'s <%="profile"[:profile]%></h1>
 <%if logged?%><small><%=link_to "send internal message"[:send_internal_message], send_message_path(@user.id)%></small><%end%>
<%end%>


<div class='signup_form'>
  
    <table cellpadding='10' cellspacing='1'>
        <%if not @user_profile.info.nil? %>
        <tr>
            <th>
                <%="About"[:about]%>:
            </th>
            <td>
                <%=html_encode(@user_profile.info) %>
            </td>
        </tr>
        <%end %>
        <%if logged? and not @user_profile.birthday.nil? %>
        <tr>
            <th>
                <%="Bithday"[:birthday]%>:
            </th>
            <td>
                <%=@user_profile.birthday.strftime("%d %B %Y") %>
            </td>
        </tr>
        <%end %>
        <%if not @user_profile.signature.nil? %>
        <tr>
            <th>
                <%="Signature"[:signature]%>:
            </th>
            <td>
                <%=html_encode(@user_profile.signature, true) %>
            </td>
        </tr>
        <%end %>
        <tr>
            <th>
                <%="Time Zone"[:time_zone]%>:
            </th>
            <td>
                <%=@user_profile.time_zone %>
            </td>
        </tr>
        <tr>
            <th>
                <%="Posts posted"[:posts_posted]%>:
            </th>
            <td>
                <%=link_to @user.posts_count.to_s, user_posts_path(@user) if @user.posts_count > 0%>
                <%='Zero'[:zero] if @user.posts_count == 0%>
            </td>
        </tr>
    </table>
    
</div>

<%a_size = Configuration.avatar_size
a_spase= a_size / 2 - 16 %>
<div id='upload_image_form'>
    <div id='uploaded_avatar' style='width:<%=a_size%>px;height:<%=a_size%>px; background-color : <%=Configuration.avatar_bg_color%>;'>
        <%=user_avatar(@user_profile) %>
    </div>
    <br/>
</div>
<div class='clear'></div>


<%if current_user %>
<% content_for("right") do %>
<div class="outerBox">
    <div class="innerBox">
        <%="Send message to "[:send_message_to]%> <%="#{@user_profile.user.login}" %>
        <div id='message_status'></div>
        <% form_remote_tag(:url => {:action=>"send_message", :controller=>"user", :id=>@user_profile.user}, 
					:loading=>"show_loader('sending', 'loader2');",
					:complete=>"$('sending').innerHTML='';") do%>
        <div id='message_area'>
            <textarea cols='28' rows='3' name='message'></textarea>
        </div>
        <br/>
        
        <div style='text-align:right; height : 30px;'>
         <span style="height : 30px;" id='sending'></span>&nbsp;
         <%= submit_tag("Send"[:send]) %>
        </div>
        <%end%>
    </div>
</div>

<%if is_moderator%>
<div style='height : 40px;'></div>
  <div class="outerBox">
    <div class="innerBox">
        <%="Account status for %s"[:account_status_for] % [@user_profile.user.login]%>
        <div id='message_status_user'></div>
        <p id='user_valid_from'>
          <%if @user.valid_from%><%="Account valid from %s"[:account_valid_from] % [@user.valid_from.strftime("%Y-%m-%d")]%> <%end%>
		</p>
		<p>  
          <% form_remote_tag(:url => {:action=>"block", :controller=>"user", :id=>@user_profile.user}, 
  					:loading=>"show_loader('changing', 'loader2');",
  					:complete=>"$('changing').innerHTML='';") do%>
            <%="Block user for:"[:set_user_valid_from]%>
            <%=select 'user', 'valid_from', [["Now"[:now], 0], ["Week"[:week], 7], ["Month"[:month], 30],  ["Forever"[:forever], 3000]]%>
            <br/>
            <div style='text-align:right; height : 30px;'>
             <span style="height : 30px;" id='changing'></span>&nbsp;
             <%= submit_tag("Update"[:update]) %>
            </div>
          <%end%>
        </p>
      </div>
  </div>
<%end%>
<%end%>
<%end%>

