<% form_remote_tag(:url => {:controller=>'posts', :action=>'add_tags', :id=>post},  
			:loading=>"$('tag_names_#{post.id}').value='';") do%>
    <div class="clear"></div>
    <input type='text' id='tag_names_<%=post.id%>' name='tags' style='width:200px'>
    <div id="tag_names_div_<%=post.id%>" class="autocomplete" style="display:none"></div>
    <script>
        new Ajax.Autocompleter('tag_names_<%=post.id%>', 'tag_names_div_<%=post.id%>', '/tags/autocomplete', { paramName:'tag', minChars: 2,frequency: 0.15,tokens: ','});
    </script>
    <span>
      <%= submit_tag("Add tags"[:add_tags]) %> <%="or"[:or]%> 
      <a href="#" onclick="$('add_tags_<%=post.id%>').toggle();return false;"><%="Cancel"[:cancel]%></a><br/> <small><%="separated by comma"[:separated_by_comma]%></small>
    </span>
<%end%>
<br/>
<small><%="or click to mark as "[:or_click_to_mark_as]%></small>
<%post.quick_tags(current_user).each do |tag|%>
  <%=link_to_remote tag.title, :url=>{:controller=>'posts', :action=>'add_tags', :id=>post, :tags=>tag.title}, :html=>{:id=>'qtag_%d_%d' %[tag.id, post.id], 
			:style=>"#{tag.style}; margin: 0 2px 0 2px;"},	:complete=>"$('qtag_%d_%d').remove();" %[tag.id, post.id]%>
<%end%>