<%=error_messages_for 'post'%>
<% form_remote_tag(:url => {:controller=>'posts', :action=>'update', :id=>post},  :loading=>"show_loader('edit_controls_#{post.id}', 'loader2');") do%>
  <%=forulio_editor 'post', 'content', {:id=>"post_editor#{post.id}", :class=>'post_editor'} %>
  <div class="clear"></div>
    <div id="edit_controls_<%=post.id%>" style="float:right">
      <%= submit_tag("Update"[:update]) %> <%="or"[:or]%> 
      <a href="#" onclick="Post.restoreContent('<%=post.id%>');return false;"><%="Cancel"[:cancel]%></a>
    </div>
  </div>
<%end%>
<div id='uploaded_files_<%=post.id%>'>
  <%=render :partial=>"edit_post_files", :locals=>{:files=>post.files, :post_id=>post.id} %>
</div>