<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="keywords" content="forum, ruby on rails, tag based forum, communication board, chat, ajax"/>
  <meta name="description" content="Tag based forum engine with nice Ajax integration written with Ruby on Rails."/>
  <title><%=Configuration.site_name%> - <%=yield(:title) || Configuration.default_title %></title>
  <%= stylesheet_link_tag "main", :media => "all" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'library' %>
  <%= forulio_editor_support %>
</head>
<body class="case subject aggregate">
<div id="header">
	<div id="global_links">
	 	<%if logged? %>
			<a href="/profile"><b><%=current_user.login%></b></a> | 
      <a href="/messages"><%="Messages"[:messages]%></a> | 
			<a href="/logout"><%="Logout"[:logout]%></a>
		<%else%>
		    <a href="/signup"><%="Signup"[:signup]%></a> |
			<a href="/login?to=<%=url_for%>"><%="Login"[:login]%></a>
		<%end%>
	</div>
<img src="/images/forulio.png"/>
	<!--h1><%=Configuration.site_name%></h1-->
	<div id="global_tabs">
	<ul>
		<li style="float: right;"><a href="/search" onclick="$('search_box', 'layout_info').invoke('toggle');return false;" class="<%=get_tab_css('search')%>"><%="Search"[:search]%></a></li>
		<li class="with_space"><a href="/" class="<%=get_tab_css('forums')%>"><%=Configuration.site_name%></a></li>
		<li><a href="/new_posts" class="<%=get_tab_css('new_posts')%>"><%="New posts"[:new_posts]%></a></li>
		<li><a href="/users" class="<%=get_tab_css('users')%>"><%="Users"[:users]%></a></li>
		<li class="with_space"><a href="/tags" class="<%=get_tab_css('tags')%>"><%="Tags"[:tags]%></a></li>
		<li class="with_space"><a href="/monitoring" class="<%=get_tab_css('monitored')%>"><%="Monitoring"[:monitoring]%></a></li>
    	
		<%if is_moderator%>
			<li> <a href="/moderate/ips" class="<%=get_tab_css('black_list')%>"><%="Black list"[:black_list]%></a></li>
			<li> <a href="/user/list/block" class="<%=get_tab_css('block')%>"><%="Blocked users"[:blocked_users]%></a></li>
		<%end%>
		<%if false%>
      <li class="basket">
       	<a href="/basket/123" class="" title="Favourites"><%="Favourites"[:favorites]%></a>
      </li>
		<%end%>
	</ul>
	</div>
</div>
	<div id="container">	
	    
        <%if @msg%>
          <div class='your_message' id='your_message'>
            <%=render :partial=>'partials/message', :locals=>{:message=>@msg}%>
          </div>
        <%end%>  
      <div class='flashes'><%=flash_helper%></div>
      <div id="content">
        <% header = yield(:page_header)%>
  			<%unless header.nil? or header.length == 0 %>
  				<div class="page_header"><%=header%></div>
  			<%end%>
  			
        
  	 	 	<div id="innercontent">
  	 	 		<%=yield%>	
  			</div>
		</div>
		<div id="right">
			
			<div id="right_panel">
			  <div id='search_box' style="display:none;padding-bottom:7px;" >
  			  <%=render :partial=>'partials/search_box'%>  
        </div>
	      <div id="layout_info">
	        
          <p>
            
            
          <!-- AddThis Button BEGIN -->
          <script type="text/javascript">addthis_pub  = 'kiosan';</script>
          <a href="http://www.addthis.com/bookmark.php" onmouseover="return addthis_open(this, '', '[URL]', '[TITLE]')" onmouseout="addthis_close()" onclick="return addthis_sendto()"><img src="http://s9.addthis.com/button1-addthis.gif" width="125" height="16" border="0" alt="" /></a><script type="text/javascript" src="http://s7.addthis.com/js/152/addthis_widget.js"></script>
          <!-- AddThis Button END -->


          </p>
          <%=Configuration.forum_description%>
        </div>
        
        <%=yield :right%>
				<%if is_admin %>
					<div class="clear" ></div>
					<img src='/images/loader1.gif' id='admin_tasks_loader' style="display:none;padding-top:5px;" />
					<div id="admin_tasks">
				    	<%= link_to_function "Admin tasks"[:admin_tasks], "$('admin_tasks_box', 'admin_tasks').invoke('toggle');"	%>
					</div>	
					<div id="admin_tasks_box" style="display:none;">
				    	<%=render :partial=>'partials/admin_tasks' %>
					</div>
					<div class="clear" ></div>
				<%end%>
			</div>
	  	</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
	<div id="footer">
		  <p class="disclaim">
		    <strong>
		      <%=Configuration.footer_slogan%>
		    </strong>
		  </p>
      <p>
        <% first = true 
					Configuration.languages.each do |language, text|	%>
          <%= !first ? "|" : "" %>
          <%= (LocalizeExt.current_language != language) ? link_to(text, params.update({:language=>language})) : text %>
          <%first = false%>
        <%end%>
      </p>
		  <p class="credit">
		     <%="Powered by"[:powered_by]%> <a href="http://forulio.com">Forulio</a><br/>
			  &copy; 2008 <%=(' - %d ' % [Time.today.year]) if Time.today.year > 2008 %><a href="http://vertical-align.com">Vertical Align</a>
		  </p>
		  <br style="clear:both;" />
	</div>
   <% if request.remote_ip != '127.0.0.1' and not GOOGLE_URCHIN_KEY.nil? %>
		<script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
		<script type="text/javascript">
			_uacct = <%=GOOGLE_URCHIN_KEY%>;
			urchinTracker();
		</script>
	<%end%>
</body>
</html>

